<header class="header">
    <div class="container">
      <a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
      <nav class="navbar">
        <ul class="navbar-nav">
          <li class="is-active">
            <a href="#">
              home
            </a>
          </li>
          <li>
            <a href="#">
              services
            </a>
          </li>
          <li>
            <a href="#">
              features
            </a>
          </li>
          <li>
            <a href="#">
              portfolio
            </a>
          </li>
          <li>
            <a href="#">
              contact
            </a>
          </li>
        </ul>

        <a href="#" class="navbar-toggle">
          <span></span>
        </a>

        <ul class="navbar-nav-mobile">
         <li class="is-active">
            <a href="#">
              home
            </a>
          </li>
          <li>
            <a href="#">
              services
            </a>
          </li>
          <li>
            <a href="#">
              features
            </a>
          </li>
          <li>
            <a href="#">
              portfolio
            </a>
          </li>
          <li>
            <a href="#">
              contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>