.header {
    background-color: rgba(71, 82, 89, 0.92);
    padding: 24px 0; 
    width: 100%;
    z-index: 20;
    > .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-left {
      margin-right: 10px;
    }
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }